<% @no_index_meta = true %>
<ul>
<% @visualizations.each do |visualization| %>
  <li>
    <%= link_to visualization_path(visualization.permalink), visualization_path(visualization.permalink) %>
  </li>
<% end %>
</ul>
