<%= render "shared/visuals_filter_bar" %>
<%= content_for :head, auto_discovery_link_tag(:atom, visuals_path(:format => "atom")) %>

<% title t('.title') %>


<div id="visual_list" class="viz resp">
	<%= render @view_type %>
</div>

<%= link_to_next_page @visualizations, t('helpers.links.more'), :params => {:view => params[:view]}, :remote => true, :id=>"load_more_link" %>
