<% title @organization.name %>
<% title_image @organization.logo.url if @organization.logo_file_name %>

<% if @organization.url %>
<div>
	<%= link_to t('helpers.links.website'), @organization.url, :class => 'btn btn-mini' if @organization.url %>
</div>
<% end %>


<%= render :partial => "shared/org_ideas_block", :object => @ideas %>
