@font-face
{
  font-family: 'exo_regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_nino_elite_caps.otf');
}

@font-face
{
  font-family: 'exo_light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_nino_elite_caps.otf');
}

@font-face
{
  font-family: 'themix_light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}

@font-face
{
  font-family: 'themix_regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


#get_involved_container a {
  font-size: 17px;
}
