<div class="text">
  <%= "#{t('app.common.likes')}:" %>
  <%= @visualization.overall_votes %>
</div>
<% if @visualization.voted(request.remote_ip, 'up') %>
  <div class="like_btn_voted"><span class="heart">❤</span><span class="text"><%= t('app.common.like') %></span></div>
<% else %>
  <%= link_to("<span class=\"heart\">❤</span><span class=\"text\">#{t('app.common.like')}</span>".html_safe,
		  visual_vote_path(:id => @visualization.permalink, :status => 'up'),
		  :class => 'like_btn', :title => t('app.common.like')) %>
<% end %>
