<% if !@ideas.blank? %>
  $('div.grid_items').append($("<%= escape_javascript(render @view_type)%>").hide()).find('[class*="idea_item"]').slideDown('slow');
  $('#load_more_link').show().replaceWith("<%= escape_javascript(link_to_next_page(@ideas, t('helpers.links.more'), :remote => true, :id=>'load_more_link', :params => params))%>");
<% else %>
  $('div.grid_items').parent().append('<div id="no_records"><%= t("app.msgs.no_idea_records")%></div>');
<% end %>

