<%- model_class = Visualization -%>
<%= page_title t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %>

<%= render :partial => 'form' %>

<div class="form-actions">
	<%= link_to t('helpers.links.list'), organization_path(params[:organization_id]),
  :class => 'btn' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>
