<%- model_class = Visualization -%>
<% if @organization.present? %>
  <%= page_title t('helpers.titles.new_visual', :model => model_class.model_name.human, :org => @organization.name) %>
<% else %>
  <%= page_title t('helpers.titles.new_visual', :model => model_class.model_name.human) %>
<% end %>

<div class="form-actions">
	<%= link_to t('helpers.links.list'), visualizations_path(:organization => params[:organization_id]),
  :class => 'btn' %>
</div>

<%= render :partial => 'form' %>
