<h3>
  <%= t('.change_video_url',
        language: t("app.language.#{@locale_to_reset}")) %>
</h3>

<div class="trans_video_url js-generate-video-embed">
  <%= translation.input :video_url, :as => :url %>
</div>

<div class="js-container-receive-video-embed"></div>

<%= translation.hidden_field(
      :video_embed,
      class: 'js-hidden-input-receive-video-embed'
    ) %>
