<section class='analytics-table'>
  <div class='page-header js-act-as-table-title'>

    <h2>
      <%= t "admin.analytics.engagement_tables.#{@engagement_table}.heading" %>
    </h2>

  </div>

  <%= yield %>
</section>
