<%= page_title t('.title') %>

<main>

  <%= render partial: 'admin/analytics/engagement_tables/visuals' %>

  <%= render partial: 'admin/analytics/engagement_tables/categories' %>

  <%= render partial: 'admin/analytics/engagement_tables/visual_types' %>

</main>
