<% @stories.each do |story| %>
<div class="list_story_item clear">
  <div class="visual">
    <%= link_to(image_tag(story.visual.url(:thumb)), story_path(story.id)) if story.visual_file_name %>
  </div>
  <div class="content">
    <h2><%= link_to story.title, story_path(story.id) %></h2>
		<h3><%= l story.published_date, :format => :long if story.published_date %></h3>
    <%= simple_format truncate(story.explanation, :length => 300, :separator => ' ') %>
  </div>
</div>
<% end %>
