<% if !@page.nil? %>

	<%# page_title @page.title %>
	<% title @page.title %>

	<%# simple_format(@page.description) %>

	<div id="about_page" class="<%= "locale_#{I18n.locale}"%>">
		<div id="hide_text">
			We Do Data Journalism!
			We Visualize News


			What is Data Journalism?

			Getting Data
			We seek out data from a variety of organizations, both public and private. When data is not readily available, we request it. When there is no data, we create it.

			Analyzing Data
			We look at the data from different angles, analyze it, see trends, observe proportion and
			relationships. We discover stories.

			Visualizing Data
			Visualization provides a unique perspective on data.
			We make information colourful  by visualizing stories using a variety of tools.
			We visualize each story using a tool that is better than others. The trick is to choose the right one.

			Share/Make it public
			We publish these visualizations on our website, make them freely available for others to use, share them with you, and hope you share them with others.

			45% more web users will click on a link if it features an infographic
			30% of those will forward it even if the information is pointless

			40 % of people respond better to visual
			information than text

			90 % of information that comes to the brain is visual
		</div>
	</div>

<% else %>
	<%= page_title t('.title') %>
<% end %>

<% if user_signed_in? %>
<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_page_path(@page), :class => 'btn' %>
</div>
<% end %>
