.dynatable-export {
  margin: 1em;
  float: right;
}

.dynatable-search {
  margin: 1em;
  margin-left: 0;
  display: inline-block;
}

  .dynatable-search input {
    margin: 0;
  }

.dynatable-per-page {
  margin: 1em;
  display: inline-block;
}

  .dynatable-per-page-select {
    margin: 0;
  }
