/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require formtastic
 *= require formtastic-bootstrap
 *= require fancybox
 *= require vendor
 *= require_tree .
 *= require_self
 *= require resp.width
*/

/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* make bootstrap button link color stay white */
a.btn, a.btn:visited {
	color: #000 !important;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff !important;
}

/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #555;
  background-color: transparent;
}
.content a {
  text-decoration: underline;
}
a:hover {
  color: #348BE8;
  background-color: none;
  text-decoration: underline;
}
a.brand:hover{
  background-color: transparent;
}




@font-face
{
  font-family: 'exo_regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Exo-Regular.otf');
}

@font-face
{
  font-family: 'exo_light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Exo-Light.otf');
}

@font-face
{
  font-family: 'themix_light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/themix-3-light-webfont.ttf');
}

@font-face
{
  font-family: 'themix_regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/themix-5-regular-webfont.ttf');
}



h1, h2, h3 {
   font-family: Arial;
   color: #555;
  font-weight: bold;
}
h1 {
   font-size: 18pt;
}
h1 small {
   color: inherit;
   font-size: 16pt;
	display: block;
	padding-top: 0.3em;
	margin-left: 1em;
}

h2 {
   font-size: 16pt;
	margin-bottom: 0.5em;
}

h3 {
  font-size: 12pt;
}

.page-header h1 {
  color: #348be8;
}
strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	padding-left: 2em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.1;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.1;
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* error message styling */
.errorExplanation
{
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.errorExplanation h2
{
    color: #B94A48 !important;
}

.errorExplanation a
{
    color: #B94A48;
}

/* template styles */
body {
	background-color: #fafafa;
	overflow-y: scroll;
  ::-moz-selection {
    color: #fff;
    background: #DE4355;
  }
  ::selection {
    color: #fff;
    background: #DE4355;
  }
}

#frozen-menu {
  width: 200px;
  position: fixed;
  background: #fff;
  top: 0px;
  bottom: 0px;
  .brand {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    background: url(/assets/logo_bg.png) center no-repeat;
    & > a {
      display: block;
      text-align: center;
      & > img {
        display: inline-block;
      }
    }
  }
}

#everything-else {
  padding-left: 200px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.nav-menu {
  font-family: exo_regular;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 41px;
  li a {
    display: block;
    padding: 7px 0px;
    font-size: 12px;
    &:hover, &.active {
      text-decoration: none;
      font-size: 14px;
      color: #469e72;
    }
  }
}

.user-menu {
	margin-top: 70px;
  text-align: center;
  & > li {
    display: inline-block;
    & > a {
      color: #df4758;
      display: block;
      font-size: 12px;
      font-family: 'themix_light';
      .caret {
        border-top-color: #df4758;
      }
    }
  }
}

#follow-us {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  & input.search {
    color: rgba(124, 125, 79, .8);
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 25px;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    height: 30px;
    background: #fafddc;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  & > div {
    display: inline-block;
  }
  li {
    display: block;
    float: left;
    a {
      display: block;
      height: 33px;
      width: 33px;
      margin-right: 0px;
      -webkit-transition: background-position .5s;
         -moz-transition: background-position .5s;
           -o-transition: background-position .5s;
              transition: background-position .5s;

      &:hover {
        background-position: 0px 100% !important;
      }
      &.fb {
        background: url('/assets/fb.png') 0px 0px no-repeat;
        &:hover {
        /*
          background-position: 0px 50%;
        */
        }
      }
      &.twitter {
        background: url('/assets/twitter.png') 0px 0px no-repeat;
      }
      &.pinterest {
        background: url('/assets/pinterest.png') 0px 0px no-repeat;
      }
      &.mail {
        background: url('/assets/mail.png') 0px 0px no-repeat;
      }
      &.rss {
        margin-right: 0px;
        background: url('/assets/rss.png') 0px 0px no-repeat;
        &:hover {
        /*
          background-position: -20px;
        */
        }
      }
    }
  }
}

/* navbar */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  background: #fff;
  box-shadow: none;
	filter: none; /* so ie will display the correct color background */
}

/* page header */
.page-header {
	margin: 0 0 10px;
	border: none;
	h1 {
	  color: #555;
  }
}

#visual_list_container .page-header {
  margin-left: 20px;
}

.page-header h1, #get_involved_container > h2, #load_more_link {
  font-family: exo_regular;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 24px;
  color: #555;
}

#load_more_link {
  margin-left: 20px;
  margin-top: 20px;
  &:hover {
    text-decoration: none;
  }
}

/* footer */
footer {
	margin-top: -54px; /* negative value of footer height */
	min-height: 41px !important;
	background: #dadada !important;
	padding: 0 20px;
	padding-top: 13px;
	font-size: 10pt;
	div#left {
	  margin: 0 !important;
	  float: left;
	  width: 30%;
	  margin-top: 20px;
    padding-top: 3px;
  }
  a:hover {
	  background-color: #D4D4D4;
  }
  #middle {
    margin: 0;
	  font-size: 12px;
	  width: 38%;
	  text-align: center;
	  float: left;
	  ul {
    /*	margin-top: 20px;*/
      li {
	      display: inline;
	      font-family: Arial;
	      &.spacer {
          display: inline;
        }
        a {
	        padding: 0 10px;
        }
      }
    }
  }
  div#right {
	  margin: 0 !important;
	  float: right;
	  width: 30%;
	  text-align: right;
	  ul li {
	    display:inline;
    }
    #js_link_text{
	    text-align: right;
    }
    #js_logo{
	    text-align: left;
	    img {
	      vertical-align: middle;
      }
    }
  }
}


footer, footer ul li, footer div#right ul li {
  color: #4f4f4f;
}


/* nested form styles */
.nested_form_container {
  .nested_form_item {
    border-bottom: dashed 1px #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
