#visual_list_container, #get_involved_container {
  float: left;
}

#get_involved_container{
  padding: 0px 20px;
  width: 230px;
	div {
		margin-bottom: 55px;
		&:last-child {
		  margin-bottom: 0px;
		}
		h3 {
		  font-family: exo_regular;
		  font-size: 18px;
		  font-weight: normal;
  		margin-bottom: 5px;
		}
	}
	a {
	  font-family: exo_regular;
		color: #f3f3f3;
		display: block;
		width: 100%;
		line-height: 47px;
		height: 47px;
		text-decoration: none;
		text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	}
	p {
		margin: 0;
		font-family: sylfaen, arial, sans-serif;
		font-size: 14px;
		margin-bottom: 15px;
	}
	#ideas{
		h3 {
			color: #a6502b;
		}
		a {
			background-color: #ba6743;
		}
	}

	#visuals{
		h3 {
			color: #469e72;
		}
		a {
			background-color: #469e72;
		}
	}

	#data{
		h3 {
			color: #942431;
		}
		a {
			background-color: #de4355;
		}
	}
}
