#submit_visual, #send_data, #contact {

  .page-header {
    h1 {
      color: #469e72;
    }
  }

  p, .p {
    font-family: themix_regular;
    max-width: 910px;
  }

  label {
    color: #f87364;
    margin-top: 1px;
  }

  abbr {
    border-bottom: none;
  }

  .control-group {
    margin-top: 12px;
  }

  input, textarea {
    border: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #e7e7e7;
    color: #ababab;
    font-size: 14px;
    font-family: verdana, arial, sans-serif;
    max-width: none;
    width: 600px;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="submit"], textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  input[type="text"], input[type="password"], input[type="email"] {
    padding-left: 30px;
    height: 29px;
  }

  #message_datasource {
    padding-left: 9px;
  }

  textarea {
    padding: 4px 9px;
  }

  input[type="submit"] {
    font-family: exo_regular;
    color: #fff;
    background: #469E72;
    width: 78px;
    height: 30px;
    font-size: 14px;
    text-shadow: none;
  }

}

#send_data {

  .page-header {
    h1 {
      color: #a6502b;
    }
  }

  input[type="submit"] {
    background: #ba6743;
  }
}



#message_name, #message_organization, #message_email, #message_phone {
  background: #fff 9px center no-repeat;
}
#message_message {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 9px 9px;
}

#message_name {
  background-image: url('/assets/user_icon.png');
}

#message_organization {
  background-image: url('/assets/organization_icon.png');
}

#message_email {
  background-image: url('/assets/email_icon.png');
}

#message_phone {
  background-image: url('/assets/phone_icon.png');
}

#message_message {
  background-image: url('/assets/message_icon.png');
}

#message_file_input {
  display: none;
}

#file_replacement {
  cursor: pointer;
  border: 1px solid #d3d7a7;
  color: #df4758;
  background: #fafddc url('/assets/upload_icon.png') 9px center no-repeat;
  margin-bottom: 25px;
  padding: 5px 10px 5px 42px;
  display: inline-block;
}
