
.elastislide-wrapper {
  padding-top: 20px;
	min-height: 76px;
  background-color: #fafafa;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.elastislide-carousel ul li {
	min-width: 100px; /* minimum width of the image (min width + border) */
	vertical-align: top;
  a {
    text-align: center;
    div.slider_text {
      background-color: #fafafa;
      color: #b2b2b2;
    }
    &:hover{
      div.slider_text {
        background-color: #fafafa;
        color: #de4355;
      }
    }
    img {
  	  display: none;
    }
    text-decoration: none;
    .slider_text {
	    white-space: normal;
      margin-top: 31px;
      background: #fafafa;
      font-size: 11px;
    }
  }

  &.active {
    a {
      background-position: 50% -31px !important;
    }
    div.slider_text {
      color: #de4355;
    }
  }
}

#filter_bar {
  a {
    color: #7b7b7b;
    img {
      vertical-align: middle;
    }
    span.filter_selection {
      color: #a9abad;
    }
    .caret{
      border-top-color: #7b7b7b;
      border-bottom-color: #7b7b7b;
    }
  }
  .dropdown-menu {
    a {
      color: #a9abad;
      text-decoration: none;
      &:hover{
        background: #e5e5e5;
      }
      div:first-of-type {
        width: 15px;
        text-align: center;
        display: inline-block;
      }
      div:last-of-type {
        text-align: left;
        display: inline-block;
      }
    }
  }
  #toggle_categories #category_arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }

  #visual_search {
    margin-left: 10px;
    margin-right: 10px;
    input[type="text"] {
    }
    button[type="submit"] {
      background: #469e72;
      color: #fff;
      font-family: exo_regular;
      width: 78px;
      height: 30px;
      font-size: 14px;
      text-shadow: none;
      border: none;
      box-shadow: none;
    }
  }

  #idea_search {
    margin-left: 10px;
    margin-right: 10px;
    input[type="text"] {
    }
    button[type="submit"] {
      background: #ba6743;
      color: #fff;
      font-family: exo_regular;
      width: 78px;
      height: 30px;
      font-size: 14px;
      text-shadow: none;
      border: none;
      box-shadow: none;
    }
  }

}

#filter_bar_inner {
  background: #fff;
  .heart {
    font-size: 17px;
  }
}

#q + button {
  display: none;
}


.elastislide-horizontal {
  padding-left: 0px;
  padding-right: 0px;
}
