.list_visualization_item{
  padding: 10px;
  margin-bottom: 20px;
  .visual{
    float: left;
	  width: 230px;
		margin-right: 10px;
  }
  .content{
    padding-top: 10px;
  }
  .item_footer > div.count_item{
    color: #757575;
    font-size: 12px;
    font-family: themix_light;
    padding-top: 5px;
    & > div.count_icon{
      display: inline-block;
      width: 33px;
      text-align: center;
      .heart {
        color: #b1b1b1;
        font-size: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }
      img{
        vertical-align: middle;
        margin-right: 3px;
      }
    }
    & > div.count_text{
      display: inline-block;
    }
  }
}
