#visual.mod-gifographic {
  .visual-image-cover {
    position: absolute;
    z-index: 9999;
    width: 35px;
    top: 50%;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;
  }

  .visual-image-cover.is-hidden {
    display: none;
  }
}
