.grid_visualization_item{
  float: left;
  width: 230px;
  /*   reduced padding by 10 so that pages with scrollbars will not cause a shorter width */
/*  padding: 10px 15px; */
  padding: 10px 20px;
  margin: 0px;
  .visual{
    
    a {
      display: block;
      position: relative;
      z-index: 1;
      &:hover{
        .hover_mask{
          display: block;
        } 
        .hover_img{
          display: block;
        }
      }
      img {
        display: block;
      }
      .hover_mask{
        position: absolute;
        z-index: 9998;
        background-color: #eef2cb;
        opacity: 0.78;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .hover_img{
        position: absolute;
        z-index: 9999;
        width: 35px;
        top: 50%;
        left: 50%;
        margin-top: -17.5px;
        margin-left: -17.5px;
        display: none;
      }
      &::after {
        position: absolute;
        bottom: 0px;
        left: 10px;
        z-index: 9999;
        display: block;
        content: '';
        border-right: 11px solid transparent;
        border-bottom: 11px solid #E4F1EA;
        border-left: 11px solid transparent;
      }
    }
  }
  .title {
		margin-top: -4px;
		padding: 5px;
    background-color: #e4f1ea;
    h2 {
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      padding-top: 4px;
      margin-bottom: 8px;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      a {
        font-family: themix_regular;
        font-size: 16px;
        color: rgba(0, 0, 0, .8);
        font-weight: normal;
        text-decoration: none;
      }
    }
    .item_footer ul li{
      display: inline-block;
      color: #757575;
      font-size: 12px;
      font-family: themix_light;
      width: 30%;
      .heart {
        color: #b1b1b1;
        font-size: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }
      img{
        vertical-align: middle;
        margin-right: 3px;
      }
    }

		.comment_count {
			float: left;
			width: 48%;
		}
		.like_count {
			float: right;
			text-align: right;
			width: 48%;
		}
		.comment_count, .like_count {
			font-family: themix_light;
			font-size: 14px;
			color: #717171;
		}
  }
}
