.grid_visualization_item{
  float: left;
  width: 230px;
  padding: 10px 20px;
  margin: 0px;
  .visual{
  }
  .title {
		margin-top: -4px;
		padding: 5px;
    background-color: #e4f1ea;
    h2 {
      overflow: hidden;
      white-space: nowrap;
    }
		.comment_count{
			float: left;
			width: 48%;
		}
		.like_count{
			float: right;
			text-align: right;
			width: 48%;
		}
  }
}
