.list_visualization_item{
  padding: 10px;
  margin-bottom: 20px;
  .visual{
    float: left;
	  width: 230px;
		margin-right: 10px;
  }
  .content{
    padding-top: 2px;
    h2 {
      a {
        font-family: themix_regular;
        font-size: 17px;
        color: rgba(0, 0, 0, .8);
        font-weight: normal;
        text-decoration: none;
      }
    }
    h3 {
      font-weight: normal;
    }
    p {
      font-family: verdana, arial, sans-serif;
    }
  }
  .item_footer > .count_block {
    ul li{
      padding-top: 5px;
      display: inline-block;
      color: #757575;
      font-size: 12px;
      font-family: themix_light;
      margin-right: 15px;
      .heart {
        color: #b1b1b1;
        font-size: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }
      img{
        vertical-align: middle;
        margin-right: 3px;
      }
    }
  }
}
