<%= yield %>


<p>
	<%= t('mailer.closing') %>
	<br />
	<%= t('mailer.signature') %>
</p>

<hr style="margin: 10px 0;" />

<p style="font-size: 10px;">
	<%= link_to t('mailer.unsubscribe'), notifications_url(:locale => @message.locale) %>
</p>
